.header-center
	.container
		.header-center__content
			a(href="#!").logo #[strong LOGO]
				//img(src="./img/logo.svg", alt="logo")

			//====main menu =====
			.main-menu
				ul
					li
						a(href="#!") Новинки
						span.badge-item New
					li.sub-menu
						a(href="#!") Распродажа
						.sub-menu-block
					li
						a(href="#!") Отзывы о магазине
			
			.header-center__box
				p Пн-Пт с 09:00 до 18:00,
				p Сб с 10:00 до 15:30, Вс- выходной
			
			.header-contacts
				.header-contacts-tel
					a(href="tel:+79094567899") +7 (909) 456-78-99
					a(href="tel:+79094567899") +7 (909) 456-78-99

				.mySelect-drop
					.mySelect-options
						a(href="#!")
							span
								svg.svg-call
									use(href="./img/svgSprite.svg#svg-call")
							span Telegram
					.mySelect-options
						a(href="#!")
							span
								svg.svg-call
									use(href="./img/svgSprite.svg#svg-call")
							span Telegram
					.mySelect-options
						a(href="#!")
							span
								+svg('tg')
							span Telegram
					.mySelect-options
						a(href="#!")
							span
								+svg('tg')
							span Telegram

