.header-center
	.container
		.header-center__content
			a(href="#!").logo
				img(src="../img/logo.svg", alt="logo")

			//====main menu =====
			.main-menu
				ul
					li
						a(href="#!") Новинки
						span.badge-item New
					li.sub-menu
						a(href="#!") Распродажа
						.sub-menu-block
					li
						a(href="#!") Отзывы о магазине
			
			.header-center__box
				p Пн-Пт с 09:00 до 18:00,
				p Сб с 10:00 до 15:30, Вс- выходной
			
			.header-contacts
				.header-contacts-tel
					a(href="tel:+74951244501") +7 (495) 124-45-01
					a(href="tel:+74951244502") +7 (495) 124-45-02

				.mySelect-drop
					p telegram
					p telegram
					p telegram
					p telegram

