.modal-frame.modal-frame--right.modal-frame-mobile(frame-modal='catalogy')
	.modal-frame-content
		.modal-frame__header
			+svg('menu')
			span Каталог
			.modal-close(frame-close)
				+svg('close')

		//===== Подменю показывается за счет чекед инпута. Важно, что бы спан (в нем выводится иконка- галочка впрво) стоял после инпута. Если  внутри тега <li> не выводится список <ul>  с подменю, то <label> с его содержимым не требуется, только тег <a> внутри <li>
		.multi-menu.scroll-y
			ul
				//===== строка меню 1-го уровня  =====
				li
					a(href="#!") Аудио техника
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				
				//===== строка меню 1-го уровня  =====
				li
					a(href="#!") Бытовая техника
					label
						input(type="checkbox" )
						span
						//===== список меню 2-го уровня =====
						ul
							//===== строка меню 2-го уровня  =====
							li
								a(href="#!") Встраиваемая техника
								label
									input(type="checkbox" )
									span
									//===== список меню 3-го уровня =====
									ul
										li
											a(href="#!") Вытяжки
										li
											a(href="#!") Варочные поверхности
										li
											a(href="#!") Духовые шкафы
										li
											a(href="#!") Посудомоечные машины
										li
											a(href="#!") Подогреватели посуды
							
							//===== строка меню 2-го уровня  =====
							li
								a(href="#!") Для дачи и сада
								label
									input(type="checkbox" )
									span
									//===== список меню 3-го уровня =====
									ul
										li
											a(href="#!") Вытяжки
										li
											a(href="#!") Варочные поверхности
										li
											a(href="#!") Духовые шкафы
										li
											a(href="#!") Посудомоечные машины
										li
											a(href="#!") Подогреватели посуды					
							
							//===== строка меню 2-го уровня  =====
							li
								a(href="#!") Климатическая техника
								label
									input(type="checkbox" )
									span
									//===== ul меню 3-го уровня  =====
									ul
										li
											a(href="#!") Вытяжки
										li
											a(href="#!") Варочные поверхности
										li
											a(href="#!") Духовые шкафы
										li
											a(href="#!") Посудомоечные машины
										li
											a(href="#!") Подогреватели посуды
							
							//===== строка меню 2-го уровня  =====
							li
								a(href="#!") Крупная бытовая техника
								label
									
									input(type="checkbox")
									span
									
									ul
										li
											a(href="#!") Третий уровень 
										li
											a(href="#!") Третий уровень 
							
							//===== строка меню 2-го уровня  =====
							li 
								a(href="#!") Мелкая бытовая техника
							li 
								a(href="#!") Посуда
							li 
								a(href="#!") Тонометры
							li 
								a(href="#!") Электроинструмент
							
				li
					a(href="#!") Гаджеты
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") Детский мир
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") Компьютеры
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") Apple Store
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") ТВ, Видео, Фото
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") Ноутбуки и планшеты
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") Спорт
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") Телефоны
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="#!") Game Zone
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители

				
				li.pos-rel
					a(href="new-products.html") Новинки
					span.badge-item.badge-item--right New
				li
					a(href="#!") Распродажа
					label
						input(type="checkbox")
						span
						//===== список меню 2-го уровня =====
						ul
							li
								a(href="#!") AV ресиверы 
							li
								a(href="#!") MP3 плееры 
							li
								a(href="#!") Акустические системы (колонки) 
							li
								a(href="#!") Музыкальные центры 
							li
								a(href="#!") Наушники и гарнитуры 
							li
								a(href="#!") Системы домашнего кинотеатра 
							li 
								a(href="#!") Усилители	
				li
					a(href="review.html") Отзывы о магазине
				li
					a(href="#!") Отзывы о товаре