.modal-frame.modal-frame--right(frame-modal='account-modal')
	.modal-frame-content
		
		.modal-frame__header
			+svg('user')
			span Информация
			.modal-close(frame-close)
				+svg('close')
		
		.user-menu-list