/*===================== header =================*/
@import "blocks/_level-menu.scss";
@import "blocks/_user-menu-mobile.scss";
@import "blocks/_switch-lang.scss";
@import "blocks/_switch-currency.scss";
@import "blocks/_switch-group.scss";

@import "blocks/_header-search-form.scss";

@import "blocks/_header-mobile-top.scss";

@import "blocks/_header-top-row.scss";
@import "blocks/_header-center.scss";
@import "blocks/_header-account.scss";
@import "blocks/_header-shopping.scss";


@import "blocks/_header-submenu.scss";
@import "blocks/_header-bottom.scss";
@import "blocks/_catalog-menu.scss";
.header-slider{
	// @media (max-width: 1199px) {
	// display: none;
	// }
}
.header-top-banner{
	display: block;
	width: 100%;
	height: 45px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@media (max-width: 991px) {
	display: none;
	}
}