mixin benefitCard(svg, title, text)
	.benefit-card
		.benefit-card__icon
			svg(class="svg-ben"+ svg)
				use(href="./img/svgSprite.svg#svg-ben"+ svg)

		.benefit-card__text
			.text-bold !{title}
			p !{text}

section.benefits
	.container
		.benefit-wrapper
			+benefitCard(1, 'Поддержка 24/7', 'Мы работает 24 часа 7 дней в неделю')
			+benefitCard(2, 'Бесплатная доставка', 'Бесплатная доставка на все заказы выше 1000 руб')
			+benefitCard(3, '100% Безопасная оплата', 'Мы гарантируем безопасную оплату')
			+benefitCard(4, '60-дневный возврат', 'Если вам не нравится товар, у вас есть 60 дней, чтобы вернуть его.')