//==================== в этой версии карточки преимуществ  на моб версии переносятся на новую строку =========
	section.benefits.benefits--wrap
		.container
			.benefits-mobile-wrapper
				.benefit-wrapper
					+benefitCard(1, 'Поддержка 24/7', 'Мы работает 24 часа 7 дней в неделю')
					+benefitCard(2, 'Бесплатная доставка', 'Бесплатная доставка на все заказы выше 1000 руб')
					+benefitCard(3, '100% Безопасная оплата', 'Мы гарантируем безопасную оплату')
					+benefitCard(4, '60-дневный возврат', 'Если вам не нравится товар, у вас есть 60 дней, чтобы вернуть его.')

//==================== в этой версии карточки преимуществ  на моб версии выстроены в один ряд и свайпятся пальцем вправо/влево ========
section.benefits
	.container
		.benefits-mobile-wrapper
			.benefit-wrapper
				+benefitCard(1, 'Поддержка 24/7', 'Мы работает 24 часа 7 дней в неделю')
				+benefitCard(2, 'Бесплатная доставка', 'Бесплатная доставка на все заказы выше 1000 руб')
				+benefitCard(3, '100% Безопасная оплата', 'Мы гарантируем безопасную оплату')
				+benefitCard(4, '60-дневный возврат', 'Если вам не нравится товар, у вас есть 60 дней, чтобы вернуть его.')