.filters-box
	//===Блок работает со скриптом в main.js под комментарием FILTERS ASIDE.  Каждый отдельный блок фильтров имеет класс .filters-box-list. Если у такого блока есть выпадающий блок фильтров, то .filters-box-list имеет еще один класс .filters-box-hasDrop
	.filters-box-group
		.filters-box-title Уточнить раздел
			.filters-box-list
				.filters-box-item
					a(href="#!") Телефоны
				.filters-box-item
					a(href="#!") Ноутбуки
				.filters-box-item
					a(href="#!") Техника для дома
				.filters-box-item
					a(href="#!") Фото и видео
				.filters-box-item
					a(href="#!") Телефоны
				.filters-box-item
					a(href="#!") Гаджеты
	.filters-box-group
		.filters-box-title Фильтр по параметрам
			.filters-box-list.filters-box-hasDrop
				.filters-box-item
					.filters-box-hasDrop__title
						//===подсказка по клику на ? ===
						.hint
							span.hint__btn
							.hint__txt
								span.hint__close &#10006;
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						
						.filters-box-btn
							span Телефоны
					
					//===drop-filters-list
					.filters-box-drop
						p filters-list
						p filters-list
						p filters-list
						p filters-list