.filters-box
	//===Блок работает со скриптом в main.js под комментарием FILTERS ASIDE.  Каждый отдельный блок фильтров имеет класс .filters-box-list. Если у такого блока есть выпадающий блок фильтров, то .filters-box-list имеет еще один класс .filters-box-hasDrop
	.filters-box-group
		.filters-box-title Уточнить раздел
		.filters-box-list
			.filters-box-item
				a(href="#!").filters-box-link Телефоны
				span.filters-cnt 60
			.filters-box-item
				a(href="#!").filters-box-link Ноутбуки
				span.filters-cnt 40
			.filters-box-item
				a(href="#!").filters-box-link Техника для дома
				span.filters-cnt 30
			.filters-box-item
				a(href="#!").filters-box-link Фото и видео
				span.filters-cnt 20
			.filters-box-item
				a(href="#!").filters-box-link Телефоны
				span.filters-cnt 10
			.filters-box-item
				a(href="#!").filters-box-link Гаджеты
				span.filters-cnt 50
	.filters-box-group
		.filters-box-title Фильтр по параметрам
		.filters-box-list.filters-box-hasDrop
			//=====single parametrs ====
			.filters-box-param
				.filters-box-hasDrop__title
					//===подсказка по клику на ? ===
					.hint
						span.hint__btn
						.hint__txt
							span.hint__close &#10006;
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					
					.filters-box-link
						span Телефоны
						i.rotate-icon
				//===drop-filters-list
				.filters-box-drop
					//==== по умолчанию отображается пять элементов label. Если есть кнопка Показать еще, то через скрипт удаляется ограничение по высоте для .filters-box-drop
					label.custom-checkbox-label
						input.form-checkbox(type="checkbox" name='privateHouse')
						span.custom-checkbox
						span Apple (24)
				
					label.custom-checkbox-label
						input.form-checkbox(type="checkbox" name='privateHouse')
						span.custom-checkbox
						span Apple (24)
				
					label.custom-checkbox-label
						input.form-checkbox(type="checkbox" name='privateHouse')
						span.custom-checkbox
						span Apple (24)
				
					label.custom-checkbox-label
						input.form-checkbox(type="checkbox" name='privateHouse')
						span.custom-checkbox
						span Apple (24)
					label.custom-checkbox-label
						input.form-checkbox(type="checkbox" name='privateHouse')
						span.custom-checkbox
						span Apple (24)
				

					a(href="#!").filters-show-more Показать еще 
		
		.filters-box-list.filters-box-hasDrop
			//=====single parametrs ====
			.filters-box-param
				.filters-box-hasDrop__title
					.filters-box-link
						span Розничная цена
						i.rotate-icon
				
				//===drop-filters-list
				.filters-box-drop
					.price-slider-wrapper
						#slider.price-slider
						div.price-slider-out
							input#minValue(type='number' min='0' max='100000')
							input#maxValue(type='number' min='0' max='100000')
						
						//=============== custom input range ===================
						script(src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js")
						script.
							
							const slider = document.getElementById('slider');
							const minValue = document.getElementById('minValue');
							const maxValue = document.getElementById('maxValue');

							noUiSlider.create(slider, {
								start: [20000, 80000],
								connect: true,
								range: {
									min: 0,
									max: 100000
								}
							});
							// Синхронизация ползунка с полями
							slider.noUiSlider.on('update', (values) => {
								minValue.value = Math.round(values[0]);
								maxValue.value = Math.round(values[1]);
							});
							// Синхронизация полей с ползунком
							minValue.addEventListener('change', () => {
								slider.noUiSlider.set([minValue.value, null]);
							});
							maxValue.addEventListener('change', () => {
								slider.noUiSlider.set([null, maxValue.value]);
							});
	