//===== footer======
footer.footer
	.footer-top
		.container
			.footer-top__logo
				.envelope-icon
					svg(width='76' height='52' viewBox='0 0 76 52' fill='none' xmlns='http://www.w3.org/2000/svg')
						rect(x='0.75' y='1.02686' width='74.5' height='49.9462' rx='5.25' stroke='white' stroke-width='1.5')
						path(d='M2 3.70605L34.4078 20.1026C36.6797 21.252 39.3631 21.2514 41.6345 20.1008L74 3.70605' stroke='white' stroke-width='1.5')
				p Хотите быть в курсе всех акций и скидок? Подпишитесь на нашу рассылку
			
			.footer-top__form
				form.subscribe-form
					.form-item
						input(type="text")
					.form-btn
						button(type="submit").btn  Подписаться