//==== header top banner ======
a(href="#!").header-top-banner
	img(src="./img/header-top/top_banner.png", height="45"  alt="banner")

//==== header top content ======
.header-top
	.container
		.flex-justify
			.header-top-links
				a(href="") Доставка
				a(href="") Оплата
			
			+switch-group

//========== header-center ===============
.header-center
	.container
		.header-center__content
			a(href="index.html").logo
				img(src="./img/logo.svg", alt="logo")

			//====main menu =====
			.main-menu
				ul
					li
						a(href="#!") Новинки
						span.badge-item New
					li.sub-menu
						a(href="#!") Распродажа
						.sub-menu-block
							include ../sections/_submenu-cards
					li
						a(href="#!") Отзывы о магазине
			
			.header-center__box
				p Пн-Пт с 09:00 до 18:00,
				p Сб с 10:00 до 15:30, Вс- выходной
			
			.header-contacts
				.header-contacts-tel
					a(href="tel:+74951244501") +7 (495) 124-45-01
					a(href="tel:+74951244502") +7 (495) 124-45-02

				.mySelect-drop
					.mySelect-options
						a(href="#!")
							span
								+svg('tg')
							span +7 (495) 124-45-01
					.mySelect-options
						a(href="#!")
							span
								+svg('wa')
							span +7 (495) 124-45-02
					.mySelect-options
						a(href="#!")
							span
								+svg('mail')
							span mail@mail.com
					.mySelect-options
						a(href="#!")
							span
								+svg('location')
							p г. Москва, ул.Чаянова, 6
					
					.mySelect-options
						a(href="#!")
							span
								+svg('fb')
							span группа ВКонтакте
					.mySelect-options
						a(href="#!")
							span
								+svg('fb')
							span канал Youtube

//=== header-bottom ==== 
.header-bottom
	.container
		.header-bottom-content