.header-slider.header-slider-pt
	.container
		.header-slider-grid
			.header-slider-column
	
			//====== slider ======
			.banner-slider.owl-carousel
				a(href="#!").banner-slide
					.banner-slide__img
						img(src="./img/header-slider/1.webp", width="1920" alt="alt")
					
					.container
						.banner-slide__title
							h1.h1 Iphone 12
							.text-14 Вы можете выбрать мощный чип M1 Pro или ещё более мощный M1 Max — для максимально сложных задач.
							.skew-item
								span.skew-item__text от 17 740 грн

				a(href="#!").banner-slide
					.banner-slide__img
						img(src="./img/header-slider/2.webp", width="1920" alt="alt")
					.container
						.banner-slide__title
							h1.h1 MacBook Pro
							.text-14 iPhone 12 и iPhone 12 mini — A14 Bionic, передовые камеры и Super Retina XDR с Ceramic Shield
							.skew-item
								span.skew-item__text от 29 999 грн			
				
				a(href="#!").banner-slide.banner-slide--right
					.banner-slide__img
						img(src="./img/header-slider/3.webp", width="1920" alt="alt")
					.container
						.banner-slide__title
							h1.h1 Apple MacBook Pro M1 Max Chip
							.text-14 С появлением чипа M1 MacBook Pro 13 дюймов становится невероятно про­из­во­ди­тель­ным и быстрым
							.skew-item
								span.skew-item__text от 122 999 грн			
				a(href="#!").banner-slide
					.banner-slide__img
						img(src="./img/header-slider/1.webp", width="1920" alt="alt")
					.container
						.banner-slide__title
							h1.h1 Iphone 12
							.text-14 Вы можете выбрать мощный чип M1 Pro или ещё более мощный M1 Max — для максимально сложных задач.
							.skew-item
								span.skew-item__text от 17 740 грн			
				a(href="#!").banner-slide
					.banner-slide__img
						img(src="./img/header-slider/2.webp", width="1920" alt="alt")
					.container
						.banner-slide__title
							h1.h1 MacBook Pro
							.text-14 iPhone 12 и iPhone 12 mini — A14 Bionic, передовые камеры и Super Retina XDR с Ceramic Shield
							.skew-item
								span.skew-item__text от 29 999 грн			
				
				a(href="#!").banner-slide.banner-slide--right
					.banner-slide__img
						img(src="./img/header-slider/3.webp", width="1920" alt="alt")
					
					.container
						.banner-slide__title
							h1.h1 Apple MacBook Pro M1 Max Chip
							.text-14 С появлением чипа M1 MacBook Pro 13 дюймов становится невероятно про­из­во­ди­тель­ным и быстрым
							.skew-item
								span.skew-item__text от 122 999 грн
		
			//======= right sidebar ======
			.banner-sidebar
				.banner-sidebar-item
					p text
				.banner-sidebar-item
					p text
		
			//===== benefits ======
			.header-benefits
				+benefitCard(1, 'Поддержка 24/7', 'Мы работает 24 часа 7 дней в неделю')
				+benefitCard(2, 'Бесплатная доставка', 'Бесплатная доставка на все заказы выше 1000 грн')
				+benefitCard(3, '100% Безопасная оплата', 'Мы гарантируем безопасную оплату')
				+benefitCard(4, '60-дневный возврат', 'Если вам не нравится товар, у вас есть 60 дней, чтобы вернуть его.')