//=============== multi sliders =================
section.multi-sliders
	.container
		.multi-sliders-grid
			//========= column slider 1 ============
			.multi-sliders-column
				.h2 Рекомендуемые
				.column-slider.owl-carousel
					.column-slider__item
						+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						
					.column-slider__item
						+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
			
			//========= column slider 2 ============
			.multi-sliders-column
				.h2 Новинка
				.column-slider.owl-carousel
					.column-slider__item
						+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						
					.column-slider__item
						+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')

			//========= column slider 3 ============
			.multi-sliders-column
				.h2 Товары со скидкой
				.column-slider.owl-carousel
					.column-slider__item
						+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн','sale', '42 500 грн')
						+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн','sale', '42 500 грн')
						+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн','sale', '42 500 грн')

			//========= column slider 3 ============
			.multi-sliders-column
				.h2 Хиты продаж
				.column-slider.owl-carousel
					.column-slider__item
						+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')