section.products
	.container
		.section-title
			.h2 Новинки Apple
		.prod-cards__wrapper
			+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
			+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
			+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
			+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
			+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
			+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
			+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
			+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
			+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
			+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
			+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
			+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
			+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
			+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
			+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
