.tab-content__description
	.border-wrapper
		.product-options
			.product-options__item
				.product-options__title Функции телефона
				//===== option row =====
				.product-options__row
					.product-options__name Количество SIM-карт
					span.border-separate
					.product-options__value 2 шт
				
				//===== option row =====
				.product-options__row
					.product-options__name Камера
					span.border-separate
					.product-options__value 2880x1800
	
	//===== карточка товара , появляется при скролле, скрыта в моб версии ============
	.product-tabs__sticky
		+pc-special(1, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '35 500')