section.product-banner
	.container
		.product-banner__wrapper
			a(href="single-category-products.html" target="_blank").pb-card
				.pb-card__header
					img(src="./img/product-banner-logo1.png", width="100" height="20" alt="alt")
					.pb-card__label
						span от
						span 22 799 руб
				.pb-card__img
					img(src="./img/product-banner1.png", alt="alt")
				.pb-card__title ZenBook Pro Duo
				.pb-card__text 
					p ZenBook Pro Duo UX581GV — флагманский ноутбук премиальной линейки компании Asus.
			
			//=single card banner ========
			a(href="single-category-products.html" target="_blank").pb-card.pb-card--light
				.pb-card__header
					img(src="./img/product-banner-logo2.png", width="100" height="20" alt="alt")
					.pb-card__label
						span от
						span 1 799 руб
				.pb-card__img
					img(src="./img/product-banner2.png", alt="alt")
				.pb-card__title Аксессуары для sony playstation&nbsp;5
				.pb-card__text 
					p Беспроводная гарнитура PULSE 3D™Беспроводная гарнитура PULSE 3D™
