.products-cards-grid.scroll-y
	.products-cards-wrapper
		+card-light('', 1, 'Apple AirPort Express (MC414)', '5 208')
		+card-light('', 2, 'Apple AirPort Extreme (ME918)', '11 647')
		+card-light('', 3, 'Apple Magic Mouse 2 (MLA02)', '2 040')
		+card-light('', 4, 'Apple Watch 38mm Stainless Steel Case with White Sport Band (MJ302)', '6 262')
		+card-light('', 5, 'Apple Watch Series 2 38mm Space Black Stainless Steel Case with Space Black Milanese Loop (MNPE2)', '14 851')
		+card-light('', 6, 'Автодержатель Baseus Gravity Car Mount (Metal type) Silver', '410')
		+card-light('', 7, 'Акустическая система Iris 02 Divoom (Iris-02 USB, white)', '343')
		+card-light('', 8, 'Игровая приставка Sony PlayStation 4 1TB Days of Play Limited Edition', '8 976')
	.products-cards-column
		img(src="../img/products/1-big.jpg", width="460" alt="img")