
/*===================== base =================*/
*, *:after, *:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	color: $text;
	font-family: $reg;
	font-size: 14px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	
}
.body-column{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	header, main, footer{
		width: 100%;
	}
	main{
		flex-grow: 1;
		min-height: 600px;
	}
}
.lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;

	@media(min-width:1200px) {
		padding-right: 18px;
	}
}
a{transition: .3s;}
a,
a:hover {
	text-decoration: none;
	color: inherit;
}

a:hover{color: #0f4b82;}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	
	display: block;
}

input,
button,
button:focus,
input:focus {
	outline: none;
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
section{
	padding-top: 30px;
}
.main{padding-bottom: 60px;
	@media (max-width: 767px) {
	padding-bottom: 30px;
	}
}
.main.main--inner{
	padding-top: 15px;
}
.mb-20{
	margin-bottom: 20px;
}

.grid-wrapper{
	display: flex;
	column-gap: 20px;
	&-aside{
		width: 264px; flex-shrink:0;
		&>*+*{margin-top: 30px;}
		.false-column{
			height: 504px;
		}
		@media (max-width: 1199px) {
			width: 0;
			display: none;
		}
	}
	&-body{flex-grow:1;
		@media (max-width: 1199px) {
			width: 100%;
			flex-grow: 0;
		}
	}
}
.scroll-horizontal{
	@media(max-width:767px){
		overflow: hidden;
		width: calc(50% + 50vw);
		overflow-x: auto;
	}
	
}
.flex-title,.flex-wrapper, .flex-justify,.svg-btn,.btn-wrapper, .flex-center{
	display: flex;
	align-items: center;
}
.flex-center{justify-content: center;}
.flex-title,.flex-justify{
	justify-content: space-between;
}
.pos-rel{position: relative;
}
.svg-btn{
	justify-content: center;
	border-radius: 8px;
}
.text-bold{font-weight: 600;}
.drop-block{
	
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 19px rgba(0, 0, 0, 0.06);
    box-shadow: 6px 6px 19px rgba(0, 0, 0, 0.06);
    padding: 15px 20px;
	display: none;
	
	&.visible{
		display: block;
	
	}
}
.pos-rel{position: relative;
}
.text-center{text-align: center;}
.m-auto{
	margin-left: auto;
	margin-right: auto;
}
.mt-30{margin-top: 30px;}
.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1470px;
	@media(max-width: 1499px){
		width: 1200px;
	}
	@media(max-width: 1364px) {
		width: 1170px;
	}
	@media(max-width: 1199px){
		width: 970px;
	}
	@media(max-width: 991px){
		width: 750px;
	}
	@media(max-width: 767px){
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.scroll-y{
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: 5px;
	scrollbar-color:transparent,  #DEE2E6;
	&::-webkit-scrollbar{
		width: 5px;
		height: 20px;
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 10px;
		background-color: #DEE2E6;
	}
	&::-webkit-scrollbar-track{
		background-color: transparent;
	}
}
/********лейблы на карточке***********/
.label{
	display: block;
	width: fit-content;
	font-size: 11px;
	font-weight: 400;
	padding: 0 15px;
	position: relative;
	border-radius: 13px;
	line-height: 26px;
	height: 26px;
	color: #fff;
	background-color: $darkYellow;
	&-pop{background-color: $purple;}
	&-new {background-color:   $blue;}
	@media (max-width: 767px) {
	 height: 21px;
	 line-height: 21px;
	}
	
}
.tooltip-box{
	position: relative;
	.tooltip-text{
		padding: 7px 10px 8px;
		border-radius: 6px;
		color: #fff;
		font-size: 12px;
		background-color: #0d365c;
		white-space: nowrap;
		opacity: 0;
		transition: .2s;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -100%;

	}
}
.tooltip-box:hover{
	.tooltip-text{opacity: 1;}
}
