
/*===================== base =================*/
*, *:after, *:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	color: $text;
	font-family: $reg;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	height: 3000px;
}

.lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;

	@media(min-width:1200px) {
		padding-right: 18px;
	}
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
	outline: none;
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.flex-wrapper, .flex-justify,.svg-btn,.btn-wrapper{
	display: flex;
	align-items: center;
}
.flex-justify{
	justify-content: space-between;
}
.svg-btn{
	justify-content: center;
	border-radius: 8px;
}
.text-bold{font-weight: 600;}
.drop-block{
	
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 19px rgba(0, 0, 0, 0.06);
    box-shadow: 6px 6px 19px rgba(0, 0, 0, 0.06);
    padding: 15px 20px;
	display: none;
	
	&.visible{
		display: block;
	
	}
}
.pos-rel{position: relative;
}
.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1470px;
	@media(max-width: 1499px){
		width: 1200px;
	}
	@media(max-width: 1199px){
		width: 970px;
	}
	@media(max-width: 991px){
		width: 750px;
	}
	@media(max-width: 767px){
		width: 100%;
	}
}
.scroll-y{
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: 5px;
	scrollbar-color:transparent,  #DEE2E6;
	&::-webkit-scrollbar{
		width: 5px;
		height: 20px;
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 10px;
		background-color: #DEE2E6;
	}
	&::-webkit-scrollbar-track{
		background-color: transparent;
	}
}