.btn,.btn-light, .btn--36,.btn-dark{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	font-size: 14px;
	border-radius: 8px;
	background-color: $accent;
	color: #fff;
	transition: .3s;
	white-space: nowrap;
	&:hover{
		color: #fff;
		background-color: $acHover;
	}
}
.btn-light{
	color: #000;
    background-color: #f8f9fa;
	&:hover{
		background-color: #e9ecef;
    	color: #000;
	}
}
.btn-dark{
	background-color: $darkBtn;
}
.btn--36{
	width: 36px;
	height: 36px;
	padding-left: 5px;
	padding-right: 5px;
	justify-content: center;
}
.skew-item{
	
	padding: 20px 25px 20px 30px;
    border-radius: 14px 8px 14px 8px;
	transform: skew(15deg, 4deg);
    background:  $accent;
    color: #fff;
    border-radius: 14px 8px 14px 8px;
    display: inline-block;
	transition: .3s;
	&:hover{
 		background:  $acHover;}
    
	&__text{
		font-size:22px;
		font-weight: 600;
		display: inline-block;
		-moz-transform: skew(-15deg, -4deg);
		-webkit-transform: skew(-15deg, -4deg);
		-o-transform: skew(-15deg, -4deg);
		-ms-transform: skew(-15deg, -4deg);
		transform: skew(-15deg, -4deg);
		white-space: nowrap;
		@media (max-width: 1599px) {
			font-size:16px;
		}
	}
	@media (max-width: 1599px) {
		padding: 12px 14px;
		border-radius: 6px;
	}
}