input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form-item{
  position: relative; 
  
  input, textarea{
    width: 100%;
    display: block;
    height: 34px;
    border-radius:4px;
    
    border: 1px solid #e9ecef;
    box-shadow: none;
    color: #000;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: inherit;
    outline: none;
  }
  
  &+.form-item{margin-top: 16px;}
  sup{
    color: #F00;
    font-size: 16px;
    line-height: 1;
  }
  &>sup {
    position: absolute;
    top: 12px;
    left: 8px;
    z-index: 2;
  }
  sup +input, sup+ textarea{
      padding-left: 20px;
    }
    textarea{
    height: 60px;
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    }
  input::placeholder, textarea::placeholder{
    font-family: inherit;
    font-size: inherit;
  }
.form-icon{
  position: absolute;
  height: 50px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
    img{
      width: 15px;
    }

  }
   
}
.footer .form-item input{border: none;}
.form-button,.form-button-left{
  display: flex;
  margin-top: 25px;
}
.form-button{ justify-content: flex-end;}
.form-button-left{
  justify-content: flex-start;
}
form{
 .error {
      display: block;
      font-size: 12px;
      line-height: 1.6;
      color: red;
      padding-bottom: 5px;
    }
}
label{
  position: relative;
  
}
.form-item label{
  padding-top: 7px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;display: inline-flex;
}
.help-input{
  width: 0.01em;
  height: 0.01em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.form-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:22px;
  margin-top: 16px;
  .form-item +.form-item{margin-top: 0;}
  @media (max-width: 767px) {
  grid-template-columns: 1fr;
  row-gap: 16px;
  }
}