input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
 
}
 input,
 textarea{font-family: inherit;}
.form-item{
  position: relative; 
  
  input, textarea{
    width: 100%;
    display: block;
    height: 34px;
    border-radius:4px;
    
    border: 1px solid #e9ecef;
    box-shadow: none;
    color: #000;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
    
    outline: none;
  }
  
  &+.form-item{margin-top: 16px;}
  sup{
    color: #F00;
    font-size: 16px;
    line-height: 1;
  }
  &>sup {
    position: absolute;
    top: 12px;
    left: 8px;
    z-index: 2;
  }
  sup +input, sup+ textarea{
      padding-left: 20px;
    }
    textarea{
    height: 60px;
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    }
  input::placeholder, textarea::placeholder{
    font-family: inherit;
    font-size: inherit;
  }
.form-icon{
  position: absolute;
  height: 50px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
    img{
      width: 15px;
    }

  }
   
}
.footer .form-item input{border: none;}
.form-button,.form-button-left{
  display: flex;
  margin-top: 25px;
}
.form-button{ justify-content: flex-end;}
.form-button-left{
  justify-content: flex-start;
}
form{
 .error {
      display: block;
      font-size: 12px;
      line-height: 1.6;
      color: red;
      padding-bottom: 5px;
    }
}
label{
  position: relative;
  
}
.form-item label{
  padding-top: 7px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;display: inline-flex;
}
.help-input{
  width: 0.01em;
  height: 0.01em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.form-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:22px;
  margin-top: 16px;
  .form-item +.form-item{margin-top: 0;}
  @media (max-width: 767px) {
  grid-template-columns: 1fr;
  row-gap: 16px;
  }
}
/*КАСТОМНЫЕ РАДИОКНОПКИ*/
// .checkout-content [type="checkbox"]:checked,
// .checkout-content [type="checkbox"]:not(:checked),
// [type="radio"]:checked,
// [type="radio"]:not(:checked) {
//   position: absolute;
//   left: -9999px;
// }

// .checkout-content [type="checkbox"]:checked+label,
// .checkout-content [type="checkbox"]:not(:checked)+label,
// [type="radio"]:checked+label,
// [type="radio"]:not(:checked)+label {
//   position: relative;
//   padding-left: 22px;
//   cursor: pointer;
//   display: inline-block;


// }

// .checkout-content [type="checkbox"]:checked+label:before,
// .checkout-content [type="checkbox"]:not(:checked)+label:before,
// [type="radio"]:checked+label:before,
// [type="radio"]:not(:checked)+label:before {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 16px;
//   height: 16px;
//   border: 1px solid $accent;
//   border-radius: 100%;
//   background: #fff;
// }

// .checkout-content [type="checkbox"]:not(:checked)+label:before,
// [type="radio"]:not(:checked)+label:before {
//   border: 1px solid #e5e5e5;
// }

// .checkout-content [type="checkbox"]:checked+label:after,
// .checkout-content [type="checkbox"]:not(:checked)+label:after,
// [type="radio"]:checked+label:after,
// [type="radio"]:not(:checked)+label:after {
//   content: '';
//   width: 8px;
//   height: 8px;
//   background: $accent;

//   position: absolute;
//   top: 4px;
//   left: 4px;
//   border-radius: 100%;
//   -webkit-transition: all 0.2s ease;
//   transition: all 0.4s ease;
// }

// .checkout-content [type="checkbox"]:not(:checked)+label:after,

// [type="radio"]:not(:checked)+label:after {
//   opacity: 0;
//   -webkit-transform: scale(0);
//   transform: scale(0);
// }

// .checkout-content [type="checkbox"]:checked+label:after,
// [type="radio"]:checked+label:after {
//   opacity: 1;
//   -webkit-transform: scale(1);
//   transform: scale(1);
// }
.form-checkbox,.form-radio  {
  width: 0.01px;
  height: 0.01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;opacity: 0;
}

.custom-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(31, 31, 31, 0.35);
  border-radius: 4px;
  border: 1px solid #eeeeee;

  background-image: url(../img/check.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center -15px;
  transition: 0.3s ease-out;
  margin-right: 10px;

}
.custom-radiobox{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: 1px solid #eeeeee;
  transition: background-color .3s;
  flex-shrink: 0;
}
.form-radio:checked + .custom-radiobox{
  border: 3px solid #fff;
  background-color: #00BC52;
  outline: 1px solid #00BC52;
}
.form-checkbox:checked+.custom-checkbox {
  background-position: center;
  border: 1px solid #00BC52;
}
.custom-checkbox-label{display: flex;column-gap:12px;align-items: center;}
.form-block{position: relative;}

.form-block label {
 font-size: 12px;
  color: $text;
  color:$darkBg;
  margin-top: 4px;
span {
    display: block;
  }
  span:first-child {
    color: $text;
    margin-top: 0px;
  }
}

.subscribes-block {
  p {
    font-size: 12px;
    color:$darkBg;
    padding-left: 20px;
    margin-top: 5px;

    @media(max-width:1199px) {
      max-width: 400px
    }

    @media(max-width:767px) {
      max-width: auto;

    }

    @media(max-width:374px) {
      padding-left: 0;

    }
  }
}

.subscribes-block__top {
  display: flex;
  align-items: center;

  p {
    margin-right: 20px;
    font-size: 12px;
    position: relative;
    padding-left: 20px;
    white-space: nowrap;
    color: $text;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: url(../img/admin.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
    }

    @media(max-width:374px) {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}

.subscribes-block__inputs {
  display: flex;
  align-items: center;

  label {
    margin-right: 15px;
    font-size: 12px;
    white-space: nowrap;
    color: $text;
    display: flex;

    &:last-child {
      margin-right: 0;
    }

    .custom-checkbox {
      margin-left: 10px;
      border-color: #eeeeee;
      position: relative;
      top: 2px;
      // margin-left: 0;
      margin-right: 0;

    }
  }

}