input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form-item{
  position: relative;
  input{
    width: 100px;
    display: block;
    height: 52px;
    border-radius:12px;
    border-width: 1px 0px 1px 1px;
    border: 1px solid #f4f4f4;
    box-shadow: none;
    color: #000;
    font-size: 13px;

  }
  .required-symbol{
    position: absolute;
    color: red;
    top: 5px;
    left: 5px;
    z-index: 2;
  }
.form-icon{
  position: absolute;
  height: 50px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 15px;
  }

}
}
