.svg-menu{
	width: 19px;
	height: 20px;
	fill: #fff;
}
.svg-down{
	width: 9px;
	height: 4px;
	stroke:#000;
	fill: transparent;
}
.svg-filter{
	width: 16px;
	height: 16px;
	fill:#B2BBC5;
}
.svg-search{
	width: 16px;
	height: 18px;
	fill: #ffffff;
}
.svg-compare{
	width: 18px;
	height: 18px;
	fill: #fff;
}
.svg-cart{
	width: 21px;
	height: 19px;
	fill: #fff;
}
.svg-user{
	width: 16px;
	height: 18px;
	fill: #fff;
}

.svg-tg{
	width: 16px;
	height: 16px;
	stroke:#444;
	fill: transparent;
}
.svg-fb{
	width: 16px;
	height: 16px;
	stroke:#444;
	fill: transparent;
}
.svg-wa{
	width: 16px;
	height: 16px;
	fill:#444;
}
.svg-location{
	width: 16px;
	height: 19px;
	fill:#444;
}

.svg-favor{
	width: 16px;
	height: 14px;
	stroke:#444;
	fill: transparent;
}
.svg-mail{
	width: 16px;
	height:14px;
	stroke:#444;
	fill: transparent;
}
.svg-call{
	width: 16px;
	height: 16px;
	fill:#444;
}
.svg-cat1{
	width: 15px;
	height: 21px;
}
.svg-cat2,
.svg-cat3,
.svg-cat4,
.svg-cat5,
.svg-cat7,
.svg-cat8,
.svg-cat9,
.svg-cat10,
.svg-cat11{
	width: 20px;
	height: 20px;
}
.svg-cat6{
	width: 16px;
	height: 20px;
}

.svg-ben1,
.svg-ben2,
.svg-ben3,
.svg-ben4{
	width: 45px;
	height: 45px;
}

