/*======== MODAL===========*/
.modal-frame{
	display: none;
	transition: .3s;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0,0,0, .5);
	&.visible{
		display: block;
	}
	
		
}

.modal-frame.modal-frame--right{
	display: block;
	transform: translateX(-100%);
	&.visible{
		transform: translateX(0)!important;
	}
}
@media(min-width:992px){
	.modal-frame.modal-frame-mobile{display: none!important;}
}