.h1{
	font-size: 42px;
	line-height: 2.25;
	@media (max-width: 1599px) {
		font-size: 24px;
		
	}
}
.block-title{
	font-size: 22px;
	margin-bottom: 20px;
	color: #000;
	font-weight: 400;
	line-height: 1.1;
}
.title-20{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: 1.1;
	color: #000;
}
.h2{
	font-size: 18px;
	color: $text;
	margin-bottom: 30px;
}
.main--inner .h2{margin-bottom: 20px;}
.text-medium{
	font-weight: 600!important;
}
.text-bold {
	font-weight: 700 !important;
}
.flex-title{margin-bottom: 30px;}
.flex-title .h2{margin-bottom: 0;}
.icon-link{
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 20px;
	column-gap:12px;
	&:hover{
		opacity: .6;
	}
}
.light-link{
	color: $footerText;
	&:hover{
		color: $footerLogoText;
	}
}
.read-more{
	cursor: pointer;
	color: #0f4b82;
	&:hover{
		color:#0f4b82; ;
	}
}
