//- ===== colors ======
 $red:#E6896C;
 $text:#000000;
// text
$greyText: #878787;

$footerText: #818B95;
$hoverText: #04A349;

//  label
 $blue:#6CB5E6;
 $purple: #8672D2;
 $darkYellow: #E6C56D;

//  big card
 $cardBlue: #D7E9F6;
 $cardGray: #F4F7FD;
// bg
 $darkBg:#122538;
 $greyBg:#EFEFEF;
 $dropHover:#f8f9fa;
 $greyBtnBg: #f8f9fa;
 $greyBtnBgHover:#e9ecef;
 $darkBtn: #223446;
// карточки 
$bxsh:  0px 0px 0px 1px #e9e9e9; 
$cardBorder: 1px solid #e9e9e9;
 
 $accent: #00BC52;
 $acHover:#04A349;
 $accent2: #F6BE21;

$reg: 'Montserrat';
