.category-products-block{
	.filters-group{
		@media(max-width:1199px) {
			width: 100%;
			justify-content: space-between;
		}
	}
}
.filters-group__display{
	display: flex;
	align-items: center;
	column-gap:6px;
	@media(max-width:1199px) {
		display: none;
	}
} 
.btn-display-row,
.btn-display-grid,
.btn-display-table{
	cursor:pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 38px;
	width: 50px;
	background-color: transparent;
	border-radius: 6px;
	&.active{
		background-color: #fff;

	}
	
}
.category-products-block{
	.filters-group__display{margin-left: auto;
	}
}
.category-products{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
	row-gap:20px;column-gap: 20px;
	@media(max-width: 1499px){
		grid-template-columns: repeat(3, 1fr);
		row-gap:10px;column-gap: 10px;
	}
	@media(max-width: 1439px) {
	
		row-gap: 20px;
		column-gap: 20px;
	}
	@media(max-width: 991px) {grid-template-columns: repeat(2, 1fr);}
	@media(max-width: 767px){
		.product-card .btn span{display: none;}
	}

	@media(max-width: 424px) {
		grid-template-columns: repeat(1, 1fr);
		
		
	}
}
.category-products.wrapper-column{
	grid-template-columns: repeat(1, 1fr);
}
.category-products.wrapper-column.wrapper-table{
	row-gap: 0;
}
.category-products-empty{
	img{
		width: 80px;
		height: 80px;
		object-fit: contain;
		margin-bottom: 40px;
	}
	p{
		margin-bottom: 10px;
	}
	.button-wrapper{
		display: flex;
		justify-content: flex-end;
	}
}