.product-page__section{
	padding-top: 15px;
}
.product-tabs__content{
	display: flex;
	.product-img-slider{width: 55%;}
	.product-info-card {width: 45%;}
	@media (max-width: 991px) {
	flex-direction: column; 
	.product-img-slider,.product-info-card {
		width: 100%;
		
	}
	
	}
}
.product-img-slider.double-slider{
	display: flex;
	height: 500px;
	@media (max-width: 991px) {
	flex-direction: column-reverse;
	row-gap:15px;
	height: auto;
	}
}
.product-img-slider .double-slider-nav{
	flex-shrink: 0;
	height: 100%;
	width: 90px;
	.btn-slick-prev-v.slick-arrow,.btn-slick-next-v.slick-arrow{text-align: center;}
	.btn-slick-prev-v.slick-arrow svg{transform: rotate(-90deg);}
	.btn-slick-next-v.slick-arrow svg {
		transform: rotate(90deg);
	}
	@media (max-width: 991px) {
	   height: 90px;
	   width: 100%;
		.slick-slide {
			margin-left: 10px;
			width: 55px;		
		}
	
		.btn-slick-prev-h,.btn-slick-next-h{
			position: absolute;
			top: 50%;
			right: -25px;
		}
		.btn-slick-next-h {
			right: auto;
			left: -5px;
			svg{transform: rotate(180deg);}
		}
	}
}
.double-slider-nav .double-slider-thumb{
	margin-top:3px;
	margin-bottom: 3px;
	padding: 3px;
	border: 1px solid #e9e9e9;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 85px;
		height: 85px;
		object-fit: contain;
	}
	
}

.product-img-slider .double-slider-frame {
	width: 700px;
	
}
.double-slider-item{display: flex; justify-content: center;}
.double-slider-item>img{
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	@media (max-width: 1364px) {
		width: 355px;
		height: 355px;
	}
}