/*===================== header-search =================*/
.header-search{
	padding-top: 10px;
	.form-item{
		display: flex;
		height: 38px;
		input{
			color: #fff;
			font-size: 14px;
			height: 38px;
			background: #223446;
			border: 0px;
			width: 495px;
			padding-right: 5px;
			padding-left: 15px;
		}
		.header-search-filters,
        .header-search-btn{
			cursor:pointer;
			background: #223446;
			padding-top: 2px;
			padding-left: 5px;
			padding-right: 5px;
			.svg-btn{
				padding: 2px;
				height: 32px;
				width: 32px;
				background-color: #122538;
				
			}
		}
		.header-search-btn{
			border-radius: 0 8px 8px 0;
			&:hover {
				.svg-btn{background-color: $acHover;}
			}
		}
		.header-search-filters{padding-right: 3px;}
		.header-search-btn .svg-btn{background-color: $accent;}
	}
	.mySelect-drop{
		max-height: 420px;
	}
	.header-search-filters{
		.mySelect-options a{
			padding-left: 20px;
			position: relative;
			&:before{
				display: inline-block;
				position: absolute;
				top: 3px;
				left: 0px;
				content: '';
				width: 11px;
				height: 11px;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.68141 3.6147C7.89421 3.43872 8.20938 3.46857 8.38537 3.68137C8.54179 3.87052 8.53559 4.14057 8.38283 4.32184L8.3187 4.38532L4.40526 7.62168L2.72378 6.50696C2.49362 6.35438 2.43073 6.04411 2.58331 5.81395C2.71894 5.60936 2.97916 5.53694 3.19697 5.63054L3.27633 5.67348L4.33905 6.37801L7.68141 3.6147Z' fill='%2300BC52'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 5.5C11 2.46243 8.53757 0 5.5 0C2.46243 0 0 2.46243 0 5.5C0 8.53757 2.46243 11 5.5 11C8.53757 11 11 8.53757 11 5.5ZM1 5.5C1 3.01472 3.01472 1 5.5 1C7.98528 1 10 3.01472 10 5.5C10 7.98528 7.98528 10 5.5 10C3.01472 10 1 7.98528 1 5.5Z' fill='%2300BC52'/%3e%3c/svg%3e");
				background-repeat: no-repeat;
				background-position: center;
				display: none;
			}
		}
		.mySelect-options.current-filter a:before{display: block;}
	}
}

