.shopping-block{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 1px;
		top: 10px;
		height: 38px;
		left: -5px;
		background: #223446;
	}
	&__item{
		width: 52px;
		height: 58px;
		display: flex;
		align-items: center;
		justify-content: center;
		.svg-favor{stroke: #fff;}
		transition: .3s;
		cursor:pointer;
	}
	&__item +&__item{margin-left: 5px;}
	&__item:hover{
		background-color: #223446;
	}

	.notify-el{
		position: absolute;
		background-color: #F6BE21;
		border-radius: 50%;
		color: #fff;
		right: 2px;
		position: absolute;
		top: 5px;
		line-height: 20px;
		height: 20px;
		min-width: 20px;
		font-size: 11px;
		font-weight: 600;
		z-index: 1;
		text-align: center;
	}
}
.mini-cart-modal{
	position: absolute;
	right: 0;
	top: 100%;
}
.mini-cart-modal .product-item{
	display: flex;
	align-items:center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px dashed #ddd;
	&>*{flex-shrink: 0;padding-left: 8px;
	padding-right: 5px; text-align: right;}
	.product-img{width: 50px; }
	.product-price{width: 100px; font-weight: 600;}
	.product-name{
		flex-shrink: 1; 
		flex-grow: 1; 
		text-align: left;
		min-width: 200px;
		padding-left: 15px;
	}
	.product-count{width: 50px;}
	
}

.mini-cart-modal.drop-block{
	padding: 20px 30px;
    font-size: 12px;
    border-radius: 12px 0px 12px 12px;
}