/*======mobile Header top ======*/

.header-top-mobile{
	height: 46px;
	position: sticky;
	top: 0;
	background:  $darkBg;
	.header-top-grid{
		height: 100%;
		padding-left: 15px;
		padding-right: 15px;
		display: grid;
		grid-auto-flow: column;
  		grid-gap: 10px;
		justify-items: center;
	}
}
	