.header-bottom{
	background:  $darkBg;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    margin-bottom: 15px;
    height: 58px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-bottom-content{
    height: 38px;
    display: flex;
   
}