extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header
	main.main.main--inner
		.container
			+breadcrumbs(
				{link: "index.html", text: 'Главная'},
				{link: "#!", text: 'Корзина'},
			)
			include ../sections/_basket-page
	//===footer====
	include ../sections/_footer
block variables
	-var title = "Доставка";
