extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header
	main.main.main--inner
		.container
			+breadcrumbs(
				{link: "index.html", text: 'Главная'},
				{link: "#!", text: 'Блог'},
			)
			.grid-wrapper
				//====== левая колонка ======
				.grid-wrapper-aside
					ul.aside-menu
						li
							a(href="blog.html") Блог
								span 4
						li
							a(href="news.html") Новости
								span 4
					
				//====== основной контент ======
				.grid-wrapper-body
					h2.h2 Блог
					.filtered-block
						//======= строка с фильтрами =============	
						.filters-group
							.filters-group__type
								+mySelect({addClass: 'mySelect--absolute', val:'Новые-Старые', itemsArr:['Новые-Старые', 'Старые-Новые']})
							
							.filters-group__count
								+mySelect({addClass: 'mySelect--absolute', val:'15', itemsArr:['25', '50','75', '100']})
					
					//====== одна карточка статьи ===========
					.article-card
						.article-flex__row
							.article-card__img
								img(src="./img/products/phone1.jpg", alt="img")
							.article-card__title
								a(href="single-blog.html" target="_blank").light-head Обзор Sony PlayStation 5. Все особенности, игры, геймпад и сравнение с Xbox Series X
								.article-flex__row
									.article-card__date
										.icon-clock
										time 20.12.2022
									.article-card__view
										.quick-view
										span 245
								.pc__rating
									.star-rating(data-rating="4")
										span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
										span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
									.star-rating__val 4
						
						.article-card__text
							//=====дублируется для моб версии ======
							.article-flex__row
								.article-card__date
									.icon-clock
									time 20.12.2022
								.article-card__view
									.quick-view
									span 245
								.pc__rating
									.star-rating(data-rating="4")
										span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
										span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
									.star-rating__val 4
							p Новое поколение консолей официально наступило. 10 ноября отстрелялась Microsoft со своими Xbox Series X и Series S. 12 ноября в США и Японии стартовала Sony PlayStation 5, а 19-го она выйдет во всём мире. Про Series X мы уже подробно рассказали в нашем обзоре&n. Новое поколение консолей официально наступило. 10 ноября отстрелялась Microsoft со своими Xbox Series X и Series S. 12 ноября в США и Японии стартовала Sony PlayStation 5, а 19-го она выйдет во всём мире. Про Series X мы уже подробно рассказали в нашем обзоре&n

					//====== одна карточка статьи ===========
					.article-card
						.article-flex__row
							.article-card__img
								img(src="./img/products/phone1.jpg", alt="img")
							.article-card__title
								a(href="single-blog.html" target="_blank").light-head Обзор Sony PlayStation 5. Все особенности, игры, геймпад и сравнение с Xbox Series X
								.article-flex__row
									.article-card__date
										.icon-clock
										time 20.12.2022
									.article-card__view
										.quick-view
										span 245
								.pc__rating
									.star-rating(data-rating="4")
										span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
										span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
									.star-rating__val 4
						
						.article-card__text
							//=====дублируется для моб версии ======
							.article-flex__row
								.article-card__date
									.icon-clock
									time 20.12.2022
								.article-card__view
									.quick-view
									span 245
								.pc__rating
									.star-rating(data-rating="4")
										span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
										span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
									.star-rating__val 4
							
							p Новое поколение консолей официально наступило. 10 ноября отстрелялась Microsoft со своими Xbox Series X и Series S. 12 ноября в США и Японии стартовала Sony PlayStation 5, а 19-го она выйдет во всём мире. Про Series X мы уже подробно рассказали в нашем обзоре&n. Новое поколение консолей официально наступило. 10 ноября отстрелялась Microsoft со своими Xbox Series X и Series S. 12 ноября в США и Японии стартовала Sony PlayStation 5, а 19-го она выйдет во всём мире. Про Series X мы уже подробно рассказали в нашем обзоре&n

					//====== одна карточка статьи ===========
					.article-card
						.article-flex__row
							.article-card__img
								img(src="./img/products/phone1.jpg", alt="img")
							.article-card__title
								a(href="single-blog.html" target="_blank").light-head Обзор Sony PlayStation 5. Все особенности, игры, геймпад и сравнение с Xbox Series X
								.article-flex__row
									.article-card__date
										.icon-clock
										time 20.12.2022
									.article-card__view
										.quick-view
										span 245
								.pc__rating
									.star-rating(data-rating="4")
										span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
										span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
									.star-rating__val 4
						
						.article-card__text
							//=====дублируется для моб версии ======
							.article-flex__row
								.article-card__date
									.icon-clock
									time 20.12.2022
								.article-card__view
									.quick-view
									span 245
								.pc__rating
									.star-rating(data-rating="4")
										span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
										span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
									.star-rating__val 4
							
							p Новое поколение консолей официально наступило. 10 ноября отстрелялась Microsoft со своими Xbox Series X и Series S. 12 ноября в США и Японии стартовала Sony PlayStation 5, а 19-го она выйдет во всём мире. Про Series X мы уже подробно рассказали в нашем обзоре&n. Новое поколение консолей официально наступило. 10 ноября отстрелялась Microsoft со своими Xbox Series X и Series S. 12 ноября в США и Японии стартовала Sony PlayStation 5, а 19-го она выйдет во всём мире. Про Series X мы уже подробно рассказали в нашем обзоре&n
	//===footer====
	include ../sections/_footer

block variables
	-var title = "Блог";
