extends ../layouts/layout-inner-page.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header-new
	main.main.main--inner
		.categories-main
			.container
				.category-list__content.grid-wrapper
					//====== левая колонка ======
					.grid-wrapper-aside
						.false-column
						.aside-column
							include ../sections/_filter-aside

					//====== основной контент ======
					.grid-wrapper-body
						+breadcrumbs(
							{link: "index.html", text: 'Главная'},
							{link: "category-page.html", text: 'Аудио техника'},
						)
						h1.h2 Аудио техника
						.category-list__cards
							.scroll-horizontal
								.category-list__grid
									+category-card('1', 'AV ресиверы')
									+category-card('2', 'MP3 плееры', 'empty')
									+category-card('3', 'Акустические системы (колонки)', 'empty')
									+category-card('4', 'Музыкальные центры', 'empty')
									+category-card('5', 'Наушники и гарнитуры')
									+category-card('6', 'Системы домашнего кинотеатра' )
									+category-card('7', 'Усилители', 'empty')
						
						
						.category-products-block.filtered-block
							//======= строка с фильтрами =============	
							.filters-group
								.filters-group__type
									+mySelect({addClass: 'mySelect--absolute', val:'По умолчанию', itemsArr:['По умолчанию', 'По имени (A - Я)','По имени (Я - A)', 'По цене (возрастанию)', 'По цене (убыванию)', 'По рейтингу (возрастанию)', 'По рейтингу (убыванию)',  'По модели (A - Я)', 'По модели (Я - A)']})
								
								.filters-group__count
									+mySelect({addClass: 'mySelect--absolute', val:'15', itemsArr:['25', '50','75', '100']})
								
								
								//===== переключение отображения карточек ============
								.filters-group__display.filtered-block-buttons
									.btn-display-row(data-display="row")
										svg.svg-display-row
											use(href="./img/svgSprite.svg#svg-display-row")
									.btn-display-grid.active(data-display="grid")
										svg.svg-display-grid
											use(href="./img/svgSprite.svg#svg-display-grid")
									.btn-display-table(data-display="table")
										svg.svg-display-table
											use(href="./img/svgSprite.svg#svg-display-table")
							
							.category-products.filtered-block-content
								+pc-trf('1', 11, 'Apple iPhone 13 Pro 1TB ', 'in', '4.5')
								+pc-trf('2', 22, 'Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								+pc-trf('3', 33, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'out', '4.5')
								+pc-trf('1', 11, 'Apple iPhone ', 'in', '4.5')
								+pc-trf('2', 22, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'out', '4.5')
								+pc-trf('3', 33, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
	
	
	//===footer====
	include ../sections/_footer
block variables
	-var title = "Страница категорий";
	-var bodyCl = "grid-page";