extends ../layouts/layout-inner-page.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header-new
	main.main.main--inner
		.categories-main
			.container
				.category-list__content.grid-wrapper
					//====== левая колонка ======
					.grid-wrapper-aside
						.false-column
						
						//====== product-slider ======
						.aside-column
							.h2 Рекомендуемые
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
						//====== product-slider ======
						.aside-column
							.h2 Новинки
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					
						//====== product-slider ======
						.aside-column
							.h2 Товары со скидкой
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					
						//====== product-slider ======
						.aside-column
							.h2 Хиты продаж
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					
					//====== основной контент ======
					.grid-wrapper-body
						+breadcrumbs(
							{link: "index.html", text: 'Главная'},
							{link: "category-page.html", text: 'Аудио техника'},
						)
						.category-list__cards
							h2.h2 Аудио техника
							.scroll-horizontal
								.category-list__grid
									+category-card('1', 'AV ресиверы')
									+category-card('2', 'MP3 плееры')
									+category-card('3', 'Акустические системы (колонки)')
									+category-card('4', 'Музыкальные центры')
									+category-card('5', 'Наушники и гарнитуры')
									+category-card('6', 'Системы домашнего кинотеатра' )
									+category-card('7', 'Усилители')
							

block variables
	-var title = "Страница категорий";
	-var bodyCl = "grid-page";