extends ../layouts/layout-lk.pug

block content
	section.recover-frame.lk-frame
		.container
			.recover-frame__content.lk-content
				.lk-title
					h1 Восстановление пароля
				form.recover-form(action)
					.form-item
						span.form-item__label Email
						.form-item__group
							.error-icon
							input(type=' text' name placeholder=' Введите Email')
							p.error-message Введите корректный email
					.form-item
						span.form-item__label Пароль
						.form-item__group
							.error-icon
							input(type=' password' name placeholder=' Введите пароль')
					.form-item.form-item--btn
						button.btn.w-100(type='submit') Сбросить пароль
block variables
	-var title = "Авторизация";