extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header
	
	//======== owl carousel ============
	include ../sections/_header-slider

	//======== benefits ============
	include ../sections/_benefits

	//======== секция с карточками ============
	include ../sections/_products

	//========карточка-баннер продукта ============
	section.product-banner
		.container
			.product-banner__wrapper
				.pb-card
					.pb-card__header
						img(src="./img/product-banner-logo1.png", width="100" height="20" alt="alt")
						.pb-card__label
							span от
							span 22 799 грн
					.pb-card__img
						img(src="./img/product-banner1.png", alt="alt")
					.pb-card__title ZenBook Pro Duo
					.pb-card__text 
						p ZenBook Pro Duo UX581GV — флагманский ноутбук премиальной линейки компании Asus.
				
				//=single card banner ========
				.pb-card.pb-card--light
					.pb-card__header
						img(src="./img/product-banner-logo2.png", width="100" height="20" alt="alt")
						.pb-card__label
							span от
							span 1 799 грн
					.pb-card__img
						img(src="./img/product-banner2.png", alt="alt")
					.pb-card__title Аксессуары для sony playstation&nbsp;5
					.pb-card__text 
						p Беспроводная гарнитура PULSE 3D™Беспроводная гарнитура PULSE 3D™

	//======================== tabs ===============
	section.categories-tabs
		.container
			.container-module(custom-tabs)
				.tabs__header.pct_nav
					.tabs__header__scroll
						ul#prodCatTab0.nav.nav-tabs.my-tabs
							li.tabs__active_line.mod_0
							li.active
								a(data-tab="cat1" href='#!') Apple Store
							li
								a( data-tab="cat2" href='#!') Game Zone
							li
								a( data-tab="cat3" href='#!') Аудио техника
							li
								a( data-tab="cat4"  href='#!') Бытовая техника
							li
								a( data-tab="cat5" href='#!') Гаджеты
							li
								a( data-tab="cat6" href='#!') Детский мир
							li
								a( data-tab="cat7" href='#!') Компьютеры
							li
								a( data-tab="cat8" href='#!') Ноутбуки и планшеты
							li
								a( data-tab="cat9" href='#!') Спорт
				
				.tab-content__wrapper
					.tab-content.tab-content--active(data-content="cat1")
						.prod-cards__wrapper
							+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					.tab-content(data-content="cat2")
						.prod-cards__wrapper
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
					.tab-content(data-content="cat3")
						.prod-cards__wrapper
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					.tab-content(data-content="cat4")
						.prod-cards__wrapper
							+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					.tab-content(data-content="cat5")
						.prod-cards__wrapper
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
					.tab-content(data-content="cat6")
						.prod-cards__wrapper
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					.tab-content(data-content="cat7")
						.prod-cards__wrapper
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					.tab-content(data-content="cat8")
						.prod-cards__wrapper
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					.tab-content(data-content="cat9")
						.prod-cards__wrapper
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
							+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
							+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
    
				//===== кнопка под карточками ========
				.flex-center.mt-30
					.icon-reload
						svg.svg-reload
							use(href="./img/svgSprite.svg#svg-reload")
	
	//=============== products-slider=================
	section.products.products-slider
		.container
			.h2 Игровые приставки
			.products-carousel.owl-carousel
				.products-carousel-item
					+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
				.products-carousel-item
					+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
				.products-carousel-item
					+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
				.products-carousel-item
					+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
				.products-carousel-item
					+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
				.products-carousel-item
					+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
				.products-carousel-item
					+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
				.products-carousel-item
					+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
				.products-carousel-item
					+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
				.products-carousel-item
					+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'in', '4.5')
				.products-carousel-item
					+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
				
	//=============== multi sliders =================
	section.multi-sliders
		.container
			.multi-sliders-grid
				//========= column slider 1 ============
				.multi-sliders-column
					.h2 Рекомендуемые
					.column-slider.owl-carousel
						.column-slider__item
							+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							
						.column-slider__item
							+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
                
				//========= column slider 2 ============
				.multi-sliders-column
					.h2 Новинка
					.column-slider.owl-carousel
						.column-slider__item
							+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							
						.column-slider__item
							+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')

				//========= column slider 3 ============
				.multi-sliders-column
					.h2 Товары со скидкой
					.column-slider.owl-carousel
						.column-slider__item
							+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн','sale', '42 500 грн')
							+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн','sale', '42 500 грн')
							+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн','sale', '42 500 грн')

				//========= column slider 3 ============
				.multi-sliders-column
					.h2 Хиты продаж
					.column-slider.owl-carousel
						.column-slider__item
							+pc-mini(3, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(2, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
							+pc-mini(1, 'Apple AirPort Express (MC414)', 'in', 0, '38 499 грн')
						
						
block variables
	-var title = "Главная";