extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header-new
	main.main
		
		include ../sections/_header-slider-new
		
		//======== benefits ============
		include ../sections/_benefits

		//======== секция с карточками ============
		include ../sections/_products

		//========карточка-баннер продукта ============
		include ../sections/_product-banners
		
		include ../sections/_categories-tabs.pug
		
		include ../sections/_products-slider
		
		include ../sections/_multi-sliders

		include ../sections/_shop-categories

		include ../sections/_store-reviews

		include ../sections/_customer-reviews

	include ../sections/_footer

block variables
	-var title = "Главная";