extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header
	
	//======== owl carousel ============
	include ../sections/_header-slider

	//======== benefits ============
	include ../sections/_benefits

	//======== секция с карточками ============
	include ../sections/_products

	//========карточка-баннер продукта ============
	include ../sections/_product-banners
	
	include ../sections/_categories-tabs.pug
	
	include ../sections/_products-slider
	
	include ../sections/_multi-sliders

	section.shop-categories
		.container
			.h2 Магазин по отделам
			.shop-categories__content
				+shop-card('shop-cat1.png', 'Компьютеры')
				+shop-card('shop-cat2.jpg', 'Гаджеты')
				+shop-card('shop-cat3.png', 'Ноутбуки и планшеты')
				+shop-card('shop-cat4.png', 'Apple Store')
				+shop-card('shop-cat5.jpg', 'Телефоны')
				+shop-card('shop-cat6.jpg', 'Бытовая техника')
				+shop-card('shop-cat7.jpg', 'Спорт')
				+shop-card('shop-cat8.jpg', 'Game Zone')

						
block variables
	-var title = "Главная";