extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header
	
	//======== owl carousel ============
	include ../sections/_header-slider

	//======== benefits ============
	include ../sections/_benefits

	//======== секция с карточками ============
	include ../sections/_products

	//========карточка-баннер продукта ============
	include ../sections/_product-banners
	
	include ../sections/_categories-tabs.pug
	
	include ../sections/_products-slider
	
	include ../sections/_multi-sliders
	include ../sections/_shop-categories
	section.store-reviews
		.container
			h2.h2 Отзывы о магазине
			.store-card-block
				.store-card
					.store-card__rating
						.store-card__rating-val
							span 4.8
						.store-card__rating-count 
							span Всего оценок: 7
						.store-card__rating-start
							.pc__rating
								.star-rating(data-rating="4.8")
									span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
									span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
					.store-card__desk
						//====== progress bar ==========
						.store-card__bar
							.store-card__bar-star
								span &#9733;
							
							//===== ширина линии закрашивается по скрипту в main.js =============
							.store-card__bar-line
								span
							.store-card__bar-percent(data-percent="89") 89%

						//====== progress bar ==========
						.store-card__bar
							.store-card__bar-star
								span &#9733;
							.store-card__bar-line
								span
							.store-card__bar-percent(data-percent="10") 10%
						
						//====== progress bar ==========
						.store-card__bar
							.store-card__bar-star
								span &#9733;
							.store-card__bar-line
								span
							.store-card__bar-percent(data-percent="0") 0%
						
						//====== progress bar ==========
						.store-card__bar
							.store-card__bar-star
								span &#9733;
							
							.store-card__bar-line
								span
							.store-card__bar-percent(data-percent="0") 0%
						
						//====== progress bar ==========
						.store-card__bar
							.store-card__bar-star
								span &#9733;
							
							.store-card__bar-line
								span
							.store-card__bar-percent(data-percent="0") 0%
							
block variables
	-var title = "Главная";