extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header-new
	main.main
		.breadcrumbs-wrapper
			a(href="#!") Главная
			a(href="#!") Новинки Apple Apple
			a(href="#!") iPhone 13 Pro 1TB Silver (MLVW3)
		

	include ../sections/_footer

block variables
	-var title = "Главная";