extends ../layouts/layout-inner-page.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header-new
	main.main.main--inner
		.product-page__content
			.container
				//====== breadcrumbs ======
				+breadcrumbs(
					{link: "index.html", text: 'Главная'},
					{link: "cat-page.html", text: 'Новинки Apple Apple'},
					{link: "#", text: 'iPhone 13 Pro 1TB Silver (MLVW3)'},
					)
				.product-page__section
					
					h1.block-title Apple iPad 9 10.2" 256GB Wi-Fi (Silver) 2021
					
					//===== tabs ========
					.container-module(custom-tabs)
						.tabs__header.pct_nav
							.tabs__header__scroll
								ul#prodCatTab0.nav.nav-tabs.my-tabs
									li.tabs__active_line.mod_0
									li.active
										a(data-tab="cat1" href='#!') Все о товаре
									li
										a( data-tab="cat2" href='#!') Отзывы
											sup &nbsp; 0
									li
										a( data-tab="cat3" href='#!') Вопрос-ответ
											sup &nbsp; 2
									li
										a( data-tab="cat4"  href='#!') Кастомная вкладка
									
						//====== tabs content ======
						.tab-content__wrapper
							.tab-content.tab-content--active(data-content="cat1")
								.product-tabs__content
									//====== левая часть со слайдерами =====
									.product-img-slider.double-slider
										
										//======= слайдер с маленькими картинками ====
										.double-slider-nav
											.double-slider-thumb
												img(src="./img/products/phone1.jpg", alt="")
											.double-slider-thumb
												img(src="./img/products/phone2.jpg", alt="")
											.double-slider-thumb
												img(src="./img/products/phone3.jpg", alt="")
											.double-slider-thumb
												img(src="./img/products/phone1.jpg", alt="")
											.double-slider-thumb
												img(src="./img/products/phone2.jpg", alt="")
											.double-slider-thumb
												img(src="./img/products/phone1.jpg", alt="")
											.double-slider-thumb
												img(src="./img/products/phone2.jpg", alt="")
										//===== большой слайдер =========
										.double-slider-frame#product-gallery
											a(href="./img/products/phone1.jpg" data-fancybox="product1").double-slider-item
												img(src="./img/products/phone1.jpg", alt="alt")
											a(href="./img/products/phone2.jpg" data-fancybox="product1").double-slider-item
												img(src="./img/products/phone2.jpg", alt="alt")
											a(href="./img/products/phone3.jpg" data-fancybox="product1").double-slider-item
												img(src="./img/products/phone3.jpg", alt="alt")
											a(href="./img/products/phone1.jpg" data-fancybox="product1").double-slider-item
												img(src="./img/products/phone1.jpg", alt="alt")
											a(href="./img/products/phone2.jpg" data-fancybox="product1").double-slider-item
												img(src="./img/products/phone2.jpg", alt="alt")
											a(href="./img/products/phone1.jpg" data-fancybox="product1").double-slider-item
												img(src="./img/products/phone1.jpg", alt="alt")
											a(href="./img/products/phone2.jpg" data-fancybox="product1").double-slider-item
												img(src="./img/products/phone2.jpg", alt="alt")
									
									
									//====== правая часть с описанием =====
									.product-info-card
										//=====лейблы по ховеру ====
										.label-block
											.label.label-hit
												span Топ
											.label.label-pop
												span Популярный
											.label.label-new
												span Новинка
										
										include ../blocks/_offer-block
										.product-info-body
											.product-info-row
												.pc__stock.instock
													span Есть в наличии
												
												//== если Нет в наличии ===
													.pc__stock.outstock
														span Нет в наличии
												.pc__rating
													.star-rating(data-rating="4")
														span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
														span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
													.star-rating__val 4
											
											.pc__art 
												span Код товара:
												p 696681
											
											
											a(href="#!").pc__brand-logo
												span
													img(src="./img/brand-logo.jpg", width="30" height="30" alt="logo")
												span Apple
							
											.pc__price
												.pc__price-actual 15 000 руб
												//==== если есть старая цена
													.pc__price-old 25 000 руб

							//=======  content вкладки Отзывы ============
							.tab-content(data-content="cat2")
								.product-tabs__content
									p tabs 2


	include ../sections/_footer

block variables
	-var title = "Главная";
	-var bodyCl = "inner-page";