extends ../layouts/layout-inner-page.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header-new
	main.main.main--inner
		.product-page__content
			.container
				//====== breadcrumbs ======
				+breadcrumbs(
					{link: "index.html", text: 'Главная'},
					{link: "category-page.html", text: 'Новинки Apple Apple'},
					{link: "#", text: 'iPhone 13 Pro 1TB Silver (MLVW3)'},
					)
				.product-page__section
					
					h1.block-title Apple iPad 9 10.2" 256GB Wi-Fi (Silver) 2021
					
					//===== tabs ========
					.container-module(custom-tabs)
						.tabs__header.pct_nav
							.tabs__header__scroll
								ul#prodCatTab0.nav.nav-tabs.my-tabs
									li.tabs__active_line.mod_0
									li.active
										a(data-tab="cat1" href='#!') Все о товаре
									li
										a( data-tab="cat2" href='#!') Отзывы
											sup &nbsp; 0
									li
										a( data-tab="cat3" href='#!') Вопрос-ответ
											sup &nbsp; 0
									li
										a( data-tab="cat4"  href='#!') Кастомная вкладка
									
						//====== tabs content ======
						.tab-content__wrapper
							//=======  content для вкладки Все о товаре ============
							.tab-content.tab-content--active(data-content="cat1")
								include ../sections/_product-page-tab-descrip
							
							
							//=======  content для вкладки Отзывы ============
							.tab-content(data-content="cat2")
								include ../sections/_product-page-tab-review
		
							//=======  content для вкладки Вопрос-ответ ============
							.tab-content(data-content="cat3")
								include ../sections/_product-page-tab-faq
							
							//=======  content для вкладки Кастомная ============
							.tab-content(data-content="cat4")
								.tab-content__description
									.border-wrapper
										p Кастомный контент
									
									//===== карточка товара , появляется при скролле, скрыта в моб версии ============
									.product-tabs__sticky
										+pc-special(1, 'Apple iPhone 13 Pro 1TB Silver (MLVW3)', 'out', '35 500')
		
		+product-slider('Недавно просмотренные')

	include ../sections/_footer

block variables
	-var title = "Главная";
	-var bodyCl = "inner-page";