extends ../layouts/layout-inner-page.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header-new
	main.main.main--inner
		.categories-main
			.container
				.category-list__content.grid-wrapper
					//====== левая колонка ======
					.grid-wrapper-aside
						.false-column
						
						//====== product-slider ======
						.aside-column
							.h2 Рекомендуемые
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
						//====== product-slider ======
						.aside-column
							.h2 Новинки
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					
						//====== product-slider ======
						.aside-column
							.h2 Товары со скидкой
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					
						//====== product-slider ======
						.aside-column
							.h2 Хиты продаж
							.aside-column-slider
								.products-carousel-item
									+pc('1', 11, 'Apple iPhone 13 Pro 1TB Silver (MLVW3) Apple iPhone 13 Pro 1TB Silver', 'in', '4.5')
								.products-carousel-item
									+pc('2', 22, 'Apple iPhone 12 64GB Purple (MJNM3)', 'out', '5')
								.products-carousel-item
									+pc('3', 33, 'Apple iPhone 13 Pro 1TB Graphite (MLVV3)', 'in', '4')
					
					//====== основной контент ======
					.grid-wrapper-body
						+breadcrumbs(
							{link: "index.html", text: 'Главная'},
							{link: "category-page.html", text: 'Аудио техника'},
						)
						h2.h2 Аудио техника
						.category-products-block.filtered-block
							//====== когда нет товаров в категории =========
							.category-products-empty
								img(src="./img/category-list/cat2.png", width="100" height="100" alt="img")
								p В этой категории нет товаров.
								.button-wrapper
									a(href="main_2.html").btn Продолжить
block variables
	-var title = "Страница категорий";
	-var bodyCl = "grid-page";