extends ../layouts/layout.pug

block content
	//======== каталог меню на мобильной версии ============
	include ../blocks/_multi-level-menu

	//======== user modal mobile ============
	include ../blocks/_user-menu-mobile
	
	//======== header ============
	include ../sections/_header
	main.main.main--inner
		.container
			+breadcrumbs(
				{link: "index.html", text: 'Главная'},
				{link: "blog.html", text: 'Блог'},
				{link: "#!", text: 'Страница одной статьи с длинным названием'},
			)
			.grid-wrapper
				//====== левая колонка ======
				.grid-wrapper-aside
					.aside-menu
						a(href="blog.html") Блог
							span 4
						
						a(href="news.html") Новости
							span 4
				
				//====== основной контент ======
				.grid-wrapper-body.single-article-body
					h2.h2 Обзор Sony PlayStation 5. Все особенности, игры, геймпад и сравнение с Xbox Series X
					//=== date + rating ==========
					.single-article-date
						.article-flex__row
							.article-card__date
								.icon-clock
								span 20.12.2022
							.article-card__view
								.quick-view
								span 245
						.pc__rating
							.star-rating(data-rating="4")
								span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
								span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
							.star-rating__val 4
					
					//====== обертка, для контента из админки =====
					.article-custom-content
						//======контент, который выводится через админку =====
						
						img(src="./img/products/phone1.jpg", alt="img")
						p По оформлению коробки и комплекту поставки PS5 следует заветам предшественниц: всё максимально просто. Суперобложка из тонкого картона, на котором напечатаны изображения приставки и перечислены её основные достоинства, а под ней — утилитарная толстая коробка с лого PS. По оформлению коробки и комплекту поставки PS5 следует заветам предшественниц: всё максимально просто. Суперобложка из тонкого картона, на котором напечатаны изображения приставки и перечислены её основные достоинства, а под ней — утилитарная толстая коробка с лого PS.
						img(src="./img/products/phone1.jpg", alt="img")
						p По оформлению коробки и комплекту поставки PS5 следует заветам предшественниц: всё максимально просто. Суперобложка из тонкого картона, на котором напечатаны изображения приставки и перечислены её основные достоинства, а под ней — утилитарная толстая коробка с лого PS. По оформлению коробки и комплекту поставки PS5 следует заветам предшественниц: всё максимально просто. Суперобложка из тонкого картона, на котором напечатаны изображения приставки и перечислены её основные достоинства, а под ней — утилитарная толстая коробка с лого PS.
block variables
	-var title = "Страница одной статьи";
