include ../mixins/_custom-select.pug
include ../mixins/_switch-group
include ../mixins/_svg-icon
include ../mixins/_cards
include ../mixins/_breadcrumbs
include ../mixins/_product-section
include ../mixins/_basket-page
