include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		

		//======= slick carousel =============
		//- link(rel="stylesheet" href="./libs/slick/slick.css" )
		
		//======= галерея fancybox =============
		//- link(rel="stylesheet" href="./libs/fancybox/fancybox.css" )
		
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		
		link(rel="stylesheet", href="libs/lk.css")
		link(rel="stylesheet", href="css/main.css")

		title !{title}
		style.
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
				font-weight: 400;
				font-style: normal;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
				font-weight: 600;
				font-style: normal;
			}
	body(class=(bodyCl !=="" ? bodyCl : ''))
		#overlay
		//======== каталог меню на мобильной версии ============
		include ../blocks/_multi-level-menu

		//======== user modal mobile ============
		include ../blocks/_user-menu-mobile
		
		//======== header ============
		include ../sections/_header-lk
		main.lk-main
			block content
		include ../sections/_footer
		//=============== jquery ===================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		//=============== slick slider ===================
		script(src="./libs/slick/slick.min.js")
		script(src="./js/slick-slider.js")
		//=============== fancybox ===================
		script(src="./libs/fancybox/fancybox.js")
		//=============== main.js ===================
		script(src="./js/main.js")
		