include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		

		//======= owl carousel =============
		link(rel="stylesheet" href="libs/OwlCarousel/owl.carousel.min.css" )
		//======= галерея lightbox =============
		link(rel="stylesheet" href="./libs/lightbox/css/lightbox.css" )
		
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		
		
		//- link(rel="stylesheet", href="fonts/fonts.css")
		link(rel="stylesheet", href="css/main.css")
		title !{title}
		style.
			@font-face {
				font-family: 'Montserrat';
				src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
				font-weight: 400;
				font-style: normal;
			}
			@font-face {
				font-family: 'Montserrat';
				src: url('./Montserrat-SemiBold.woff2') format('woff2');
				font-weight: 600;
				font-style: normal;
			}
	body(class=(bodyCl !=="" ? bodyCl : ''))
		#overlay
		block content
		
		//=============== jquery ===================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		
		//=============== owl ===================
		script(src="libs/OwlCarousel/owl.carousel.min.js")
		
		//=============== lightbox ===================
		script(src="./libs/lightbox/js/lightbox.min.js")
		
				
		//=============== мои скрипты ===================
		
		script(src="./js/header.js")
		script(src="./js/header-slider.js")
		script(src="./js/rating-star.js")
		script(src="./js/scroll-tabs-menu.js")