include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Кнопки
				ul
					li
						.flex-center.mt-30
							.icon-reload
								svg.svg-reload
									use(href="../img/svgSprite.svg#svg-reload")
								.container-dashboard__content
						pre.
							.flex-center.mt-30
								.icon-reload
									svg.svg-reload
										use(href="../img/svgSprite.svg#svg-reload")

					li
						.cheaper-btn Кнопка
						pre.
							.cheaper-btn Кнопка
					li
						.btn
							span
								svg.svg-menu
									use(href="../img/svgSprite.svg#svg-menu")
							span Купить
					
					li
						.btn Кнопка
						pre.
							.btn Кнопка
					li
						.btn-light Кнопка
						pre.
							.btn-light Кнопка
					li
						a(href="#!").btn.btn--36
							svg.svg-menu
								use(href="../img/svgSprite.svg#svg-menu")
							
						pre.
							a(href="#!").btn.btn--36
								+svg('menu')
					li
						.btn-dark Кнопка
						pre.
							.btn-dark Кнопка
					li(style="padding-top:15px; padding-bottom:15px; background-color: blue;")
						.outline-button Кнопка
						pre.
							.outline-button Кнопка
					li
						.round-btn
							svg.svg-chevron-right
								use(href="../img/svgSprite.svg#svg-chevron-right")
						pre.
							.round-btn
								svg.svg-chevron-right
									use(href="./img/svgSprite.svg#svg-chevron-right")
					li
						.squre-icon
							img(src="../img/name-icon.svg", width="13" alt="icon")
						pre.
							.squre-icon
								img(src="./img/name-icon.svg", width="13" alt="icon")