include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		script(src="../js/main.js")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						li 
							.switch-lang
								a(href="#!").switch-lang-item.active Ru
								a(href="#!").switch-lang-item En
							pre.
								.switch-lang
									a(href="#!").switch-lang-item.active Ru
									a(href="#!").switch-lang-item En
						hr
						li
							+mySelect({addClass: 'mySelect--absolute', val:'Услуга', itemsArr:['€ Euro', '$ US Dollar','₽ Рубль', '₴ Гривна']})

						hr
						li
							.switch-currency
								.switch-currency__val
									strong.currency-type €
									span Валюта
								.switch-currency__drop
									.switch-currency__item( data-currency="€") Euro €
									.switch-currency__item( data-currency="$") US Dollar $
									.switch-currency__item( data-currency="руб") Рубль руб

							pre.
								.switch-currency
									.switch-currency__val
										strong.currency-type €
										span Валюта
									.switch-currency__drop
										.switch-currency__item( data-currency="€") Euro €
										.switch-currency__item( data-currency="$") US Dollar $
										.switch-currency__item( data-currency="руб") Рубль руб							

						hr
						li
							
							.switch-group
								//====== switch-lang =======
								.switch-lang
									a(href="#!").switch-lang-item.active Ru
									a(href="#!").switch-lang-item En

								//====== .switch-currency =======
								.switch-currency
									.switch-currency__val
										strong.currency-type €
										span Валюта
									.switch-currency__drop
										.switch-currency__item( data-currency="€") Euro €
										.switch-currency__item( data-currency="$") US Dollar $
										.switch-currency__item( data-currency="руб") Рубль руб
							pre.
								+switch-group