include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		script.
			document.addEventListener("DOMContentLoaded", function (){
				const starsGroups = document.querySelectorAll('.star-rating-group');
				if (starsGroups.length > 0){
					for (let item of starsGroups){
						const itemLabels = item.querySelectorAll('.star-rating-label');
						for (let i = 0; i < itemLabels.length; i++){
							itemLabels[i].addEventListener('click', function(e){
								e.stopPropagation();
								for (let j = 0; j < itemLabels.length; j++){
									itemLabels[j].querySelector('input').checked = (j <= i ? true : false);
								}
							})
						}
					}
				}
			});
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
					.form-item
						
						sup *
						input(type="text" placeholder="Ваше имя")
						//===== элемент с классом error  появляется, когда форма при отправке не проходит валидацию ======
						.error Текст ошибки
						.form-icon
							img(src="./img/name-icon.svg", alt="alt")
					pre.
						.form-item
							sup *
							input(type="text" placeholder="Ваше имя")
							//===== элемент с классом error  появляется, когда форма при отправке не проходит валидацию ======
							.error Текст ошибки
							.form-icon
								img(src="./img/name-icon.svg", alt="alt")

					.form-item
						
						label  Ваше имя: #[sup *]
						input(type="text" )
					pre.
						.form-item
							label  Ваше имя: sup *
							input(type="text" )

					.form-item
						
						label  Комментарий: #[sup *]
						textarea(type="text" )
					
					.form-item
						label  Рейтинг: #[sup *]
						.star-rating-group
							label.star-rating-label
								input(type="checkbox")
								span &#9733;
							label.star-rating-label
								input(type="checkbox")
								span &#9733;
							label.star-rating-label
								input(type="checkbox")
								span &#9733;
							label.star-rating-label
								input(type="checkbox")
								span &#9733;
							label.star-rating-label
								input(type="checkbox")
								span &#9733;

					.form-item.form-item--row
						.form-item
							label  Комментарий: #[sup *]
							textarea(type="text" )

						.form-item
							label  Комментарий: #[sup *]
							textarea(type="text" )