include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul
						li.dark-wrapper
							svg.svg-menu
								use(href="../img/svgSprite.svg#svg-menu")
							pre.
								svg.svg-menu
									use(href="./img/svgSprite.svg#svg-menu")
								+svg(name)

						li
							svg.svg-down
								use(href="../img/svgSprite.svg#svg-down")
							pre.
								svg.svg-down
									use(href="./img/svgSprite.svg#svg-down")
						li
							svg.svg-chevron-right
								use(href="../img/svgSprite.svg#svg-chevron-right")
							pre.
								svg.svg-chevron-right
									use(href="./img/svgSprite.svg#svg-chevron-right")
						li
							svg.svg-chevron-left
								use(href="../img/svgSprite.svg#svg-chevron-left")
							pre.
								svg.svg-chevron-left
									use(href="./img/svgSprite.svg#svg-chevron-left")						
						li
							svg.svg-chevron-top
								use(href="../img/svgSprite.svg#svg-chevron-top")
							pre.
								svg.svg-chevron-top
									use(href="./img/svgSprite.svg#svg-chevron-top")						
						
						li
							svg.svg-filter
								use(href="../img/svgSprite.svg#svg-filter")
							pre.
								svg.svg-filter
									use(href="./img/svgSprite.svg#svg-filter")

						li.dark-wrapper
							svg.svg-search
								use(href="../img/svgSprite.svg#svg-search")
							pre.
								svg.svg-search
									use(href="./img/svgSprite.svg#svg-search")

						li.dark-wrapper
							svg.svg-compare
								use(href="../img/svgSprite.svg#svg-compare")
							pre.
								svg.svg-compare
									use(href="./img/svgSprite.svg#svg-compare")

						li.dark-wrapper
							svg.svg-user
								use(href="../img/svgSprite.svg#svg-user")
							pre.
								svg.svg-user
									use(href="./img/svgSprite.svg#svg-user")
						li.dark-wrapper
							svg.svg-cart
								use(href="../img/svgSprite.svg#svg-cart")
							pre.
								svg.svg-cart
									use(href="./img/svgSprite.svg#svg-cart")
						li
							svg.svg-tg
								use(href="../img/svgSprite.svg#svg-tg")

							pre.
								+svg('tg')
						li
							svg.svg-wa
								use(href="../img/svgSprite.svg#svg-wa")

							pre.
								+svg('wa')
						li
							svg.svg-fb
								use(href="../img/svgSprite.svg#svg-fb")

							pre.
								+svg('fb')
						li
							svg.svg-location
								use(href="../img/svgSprite.svg#svg-location")

							pre.
								+svg('location')
						li
							svg.svg-favor
								use(href="../img/svgSprite.svg#svg-favor")

							pre.
								+svg('favor')
						li
							svg.svg-mail
								use(href="../img/svgSprite.svg#svg-mail")

							pre.
								+svg('mail')
						li
							svg.svg-call
								use(href="../img/svgSprite.svg#svg-call")

							pre.
								+svg('call')