include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Выпадающая карточка

				.container-dashboard__content
					.offer-block
						//======= элемент наведения слева =====
						.offer-block-prev
							button Product name
							//==== выпадающая карточка ====
							a(href="product-page.html").preview-card
								img(src="../img/products/phone1.jpg", width="100" height="100" alt="")
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.preview-card__footer
									.preview-card__price-new
										span 15000
										span руб
									.preview-card__price-old
										span 25000
										span руб
						//======= элемент наведения справа =====
						.offer-block-next
							button Product name
							//==== выпадающая карточка ====
							a(href="product-page.html").preview-card
								img(src="../img/products/phone1.jpg", width="100" height="100" alt="")
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.preview-card__footer
									.preview-card__price-new
										span 15000
										span руб
									.preview-card__price-old
										span 25000
										span руб
					
